ul {
  flex: 1;
  height: 20;
  list-style-type: disc;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #219feb;

}
li {
  float: left;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  text-align: left;
  padding: 10px;

 }

 li:hover{
   background-color: skyblue;
 }